// Colors
$happyDarkBlue: #7fadc5;
$HappyPurple: #3f4253;
$happyOrange: #f5853b;
$happyGrey: #f5f5f5;

// Additionnal font
@font-face {
  font-family: "Dancing Script";
  src: url("/font/DancingScript-VariableFont_wght.ttf");
}

// Custom Bootstrap
$theme-colors: (
  happyDarkBlue: $happyDarkBlue,
  happyOrange: $happyOrange
);

// Import bootstrap
@import "~bootstrap/scss/bootstrap";

//
body {
  margin-top: 60px;
  background-color: white;
}

// change text color of navbar
.navbar-nav {
  .nav-link {
    color: $happyDarkBlue !important;
  }
  .nav-link.active {
    color: $HappyPurple !important;
  }
}

.footer {
  // by default, position is relative
  bottom: 0;
  width: 100%;
  background-color: $happyGrey;
}

.nav-title {
  font-family: "Dancing Script";
  color: $happyDarkBlue;
  font-weight: 600;
}

.btn-outline-happyDarkBlue:hover {
  color: #ffffff;
}

#navhome {
  background-color: white;
}

.flags {
  max-width: 28px;
  max-height: 28px;
};

#lang {
  color: $happyDarkBlue;
};

.form-date-help {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
}