// Colors
$happyDarkBlue: #7fadc5;
$happyOrange: #f5853b;
$happyGrey: #f5f5f5;

// Custom Bootstrap
$theme-colors: (
  happyDarkBlue: $happyDarkBlue,
  happyOrange: $happyOrange
);

// Import bootstrap
@import "~bootstrap/scss/bootstrap";

//
body {
  margin-top: 60px;
  background-color: white;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: $happyGrey;
}

.btn-outline-happyDarkBlue:hover {
  color: #ffffff;
}

#navhome {
  background-color: white;
}

.flags {
  max-width: 28px;
  max-height: 28px;
};

#lang {
  color: $happyDarkBlue;
};