// css for profile page
// Author : Frederic Parmentier

// Colors
$happyDarkBlue: #7fadc5;
$happyBlue: #415ba5;
$HappyPurple: #3f4253;
$happyOrange: #f5853b;
$happyGrey: #f5f5f5;

.card-profile {
  width: 100%;
  text-align: center;
}

.card-profile-header-avatar {
  background-color: $happyDarkBlue;
  border-color: $happyDarkBlue;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: white;
  border-color: $happyDarkBlue;
  background-color: $happyDarkBlue;
}

.btn {
  &.btn-profile-delete {
      background-color: $happyOrange;
      color: #ffffff
  }
  &.btn-profile-update {
      background-color: $happyDarkBlue;
      color: #ffffff;
  }
}

label.label-profile {
  font-size: 0.8rem;
}
